@use '../../styles/partials/font' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    font-family: 'Headings';
    background-color: $darkest-green;

    &__container {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 1.5rem 3rem 1.5rem 3rem;
    }

    &__title {
        font-size: 3rem;
        color: $grey;
    }

    &__logo {
        height: 6rem;
    }
    &__subcontainer {
        align-self: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__link {
        color: $grey;
        font-size: 1.75rem;
        margin: .2rem 0rem 0rem 0rem;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }

}