@use '../../styles/partials/font' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.homepage {
    background-color: $light-green;
    font-family: "Headings";
    display: flex;

    &__wrapper {
        width: 30%;
        min-width: 30%;
    }

    &__container {
        height: 14.0625rem;
        padding: 3rem;
        border: 1px solid $mid-green;
        display: flex;
        align-items: center;
        background-image: url(../../assets/images/feather_wallpaper.png);
        background-size: 50rem;
        background-position-y: -.75rem ;
        transition: background-color .5s ease-out 100ms;
    }

    &__container:hover {
        background-color: $mid-green;
    }
    
    &__heading {
        margin: .625rem 0rem 0rem 0rem;
        color: $darkest-green;
        font-size: 4rem;
        align-self: center;

    }

    &__icon {
        width: 3rem;
        align-self: center;
        margin-right: 1rem;
    }
}