@use '../../styles/partials/font' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.homepage {
    background-color: $light-green;
    font-family: "Headings";
    
    &__description {
        padding: 3rem 8rem 3rem 8rem;
        text-align: center;
    }

    &__title {
        font-size: 5rem;
        color: $darkest-green;
        margin-bottom: 1rem;
    }

    &__description--content {
        font-size: 1.5rem;
        color: $darkest-green;
        font-family: 'Copy';
        line-height: 2rem;
    }


    &__content {
        display: flex;
    }

    &__wrapper {
        height: 100%;
        width: 30%;
        min-width: 30%;
    }

    &__link {
        text-decoration: none;
    }

    &__container {
        height: 20rem;
        padding: 3rem;
        border: 1px solid $mid-green;
        display: flex;
        align-items: center;
        background-image: url(../../assets/images/feather_wallpaper.png);
        background-size: 50rem;
        background-position-y: -.75rem ;
        transition: background-color .5s ease-out 100ms;
    }

    &__container:hover {
        background-color: $mid-green;
    }
    
    &__heading {
        margin: .625rem 0rem 0rem 0rem;
        color: $darkest-green;
        font-size: 4rem;
        align-self: center;

    }

    &__icon {
        width: 3rem;
        align-self: center;
        margin-right: 1rem;
    }
}