@font-face{
    font-family: 'Headings';
    src:url('../../assets/fonts/CookbookBoldBold-ywv3M.ttf') format('truetype');
    font-weight: 600;
}

@font-face{
    font-family: 'Copy';
    src:url('../../assets/fonts/HermanoRegular-4PRp.otf') format('truetype');
    font-weight: 400;
}
