// PRIMARY COLOURS 

$darkest-green: #344e41;
$dark-green: #3a5a40;
$mid-green: #588157;
$light-green: #a3b18a;

// COPY COLOUR

$grey: #dad7cd;

// BREAKPOINTS

$tablet-breakpoint:768px;
$desktop-breakpoint: 1280px;